header h1 {
    background: url("bg5.png") left / auto 100% no-repeat, url("bg5.png") right / auto 100% no-repeat;
}
.root {
    font-size: larger;
}

img.main-image {
    width: 300px;
}
img.additional-image {
    width: 250px;
}
