{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Восстановление пароля.{% endblock %}

{% block content %}
  {% if validlink %}
    <h3>Восстановление пароля</h3>
    <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons submit='Сменить пароль' %}{% endbuttons %}
    </form>
  {% else %}
    <p>
      Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите новый сброс пароля.
    </p>
  {% endif %}
{% endblock %}